body {
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    width: 100%;
}

h1 {
    -webkit-margin-after: 0em;
    -webkit-margin-before: 0em;
    float: right;
}

h2 {
    position: absolute;
    font-weight: 300;
}

h3 {
    border: 0;
    border-bottom: 1px solid white;
    color: white;
}

h6 {
    color: gray;
    -webkit-margin-after: 0em;
    -webkit-margin-before: 0em;
}

p {
    color: white;
    font-size: 14px;
    padding: 0px 6px 14px 6px;
    display: grid;
    /* position: absolute; */
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}

span {
    font-size: 10px;
    /* width: 100%; */
    font-weight: 100;
    letter-spacing: 1px;
}

.navbar {
    width: 100%;
    background-color: #3e3c3c;
    overflow: auto;
}

.navbar a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-color: #000;
}

.active {
    background-color: #4CAF50;
}

@media screen and (max-width: 500px) {
    .navbar a {
        float: none;
        display: block;
    }
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: right;
}

.fa {
    font-weight: 300;
}

.num {
    position: absolute;
    /* bottom: 10px; */
    padding: 1px;
    font-size: 0.6em;
    border: 1px solid red;
    border-radius: 6px;
    background-color: red;
    width: 8px;
    color: #fff;
    top: 10px;
}

.slide a {
    color: black;
}

.nav {
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 1;
    top: 52px;
    left: 8px;
    background-color: #333;
    /* opacity: 0.9; */
    overflow-x: hidden;
    padding-top: 49px;
    transition: 0.7s;
}

.nav a {
    color: white;
    display: block;
    padding: 10px 30px;
    font-size: 12px;
    border: 0;
    border-bottom: 1px solid #77777752;
}

.dropdown-btn {
    padding: 10px 30px;
    text-decoration: none;
    font-size: 12px;
    color: white;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    border: 0;
    border-bottom: 1px solid #77777752;
}

.nav a:hover,
.dropdown-btn:hover {
    color: #f1f1f1;
}

.active {
    color: white;
    background-color: red;
}

.dropdown-btn .fa {
    color: white;
}

.dropdown-container {
    display: none;
    color: whitesmoke;
    background-color: #262626;
    padding-left: 8px;
    border: 0;
    border-bottom: 1px solid #77777752;
}

.dropdown-container a {
    color: white;
    display: block;
    padding: 10px 30px;
    font-size: 12px;
    border: 0;
    text-decoration: none;
    position: relative;
}

.dropdown-container .timeline {
    padding-left: 2px;
    margin-left: 70%;
    position: absolute;
    font-size: 0.8em;
    border: 1px solid #5292df;
    border-radius: 80px;
    background-color: #5292df;
    width: 9px;
    color: #fff;
    top: 10px;
}

.dropdown-container .news {
    padding-left: 2px;
    margin-left: 70%;
    position: absolute;
    font-size: 0.8em;
    border: 1px solid #1db223;
    border-radius: 80px;
    background-color: #1db223;
    width: 9px;
    color: #fff;
    top: 10px;
}

.dropdown-container .calendar {
    padding-left: 2px;
    margin-left: 70%;
    position: absolute;
    font-size: 0.8em;
    border: 1px solid #f20f36;
    border-radius: 80px;
    background-color: #f20f36;
    width: 16px;
    color: #fff;
    top: 10px;
}

.fa-angle-left {
    float: right;
}

.searchbar {
    padding: 10px 30px;
    width: 100%;
}

.nav input {
    font-size: 15px;
    letter-spacing: 1px;
    color: #777777;
    border: 0;
    border-bottom: 1px solid #777;
    background: none;
    -webkit-appearance: none;
    outline: none;
    position: absolute;
}

.searchbar .fa {
    color: #777;
    margin-left: 70%;
}

.nav .close {
    position: absolute;
    top: 8px;
    /* bottom: -111px; */
    left: 123px;
    margin-left: 50px;
    font-size: 25px;
    border: 0;
}

.nav .fa {
    color: #777777;
    margin-right: 10px;
}

.slide {
    color: #000000;
    font-size: 25px;
}

#content {
    padding: 20px;
    transition: margin-left 0.7s;
    overflow: hidden;
    width: 100%;
}

.container {
    position: absolute;
    margin-top: -49px;
    margin-left: 30px;
    width: 100%;
}

.pathbar {
    margin-top: 10px;
    background-color: #80808061;
    font-size: 10px;
    padding: 8px 0px 8px 8px;
    /* padding-right: 18px; */
    width: 71%;
}

.pathbar .fa {
    margin: 1px 3px;
    font-size: 12px;
}

.pathbar a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 7px 20px;
    text-decoration: none;
    float: right;
    background-color: #554cd8;
    opacity: 0.9;
    margin-top: -7px;
}

.timeline1 {
    position: relative;
    max-width: 1200px;
    margin: -36px 43px;
}

.timeline-image {
    width: 50px;
    height: 50px;
    vertical-align: middle;
    float: left;
    /* position: absolute; */
    margin-left: 6px;
    margin-top: 4px;
}


/* The actual timeline (the vertical ruler) */

.timeline1::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: gray;
    top: 0;
    bottom: 0;
    left: 10%;
    margin-left: -3px;
}


/* Container around content */

.timeline-container1 {
    position: relative;
    background-color: inherit;
    width: 10%;
}

.timeline-container2 {
    position: relative;
    background-color: inherit;
    width: 10%;
}

.timeline-container3 {
    position: relative;
    background-color: inherit;
    width: 10%;
}

.timeline-container4 {
    position: relative;
    background-color: inherit;
    width: 62%;
}


/* The circles on the timeline */

.timeline-container1::after {
    content: '\f091';
    font-family: FontAwesome;
    /* align-items: center; */
    line-height: 25px;
    text-align: center;
    align-content: center;
    font-size: 15px;
    color: white;
    position: absolute;
    width: 25px;
    height: 25px;
    right: -15%;
    background-color: darkgray;
    border: 4px solid #777;
    top: -1px;
    border-radius: 50%;
    z-index: 1;
    /* margin: 0px; */
    /* padding: 0px; */
}

.timeline-container2::after {
    content: '\f03d';
    font-family: FontAwesome;
    /* align-items: center; */
    line-height: 25px;
    text-align: center;
    align-content: center;
    font-size: 15px;
    color: white;
    position: absolute;
    width: 25px;
    height: 25px;
    right: -15%;
    background-color: darkgray;
    border: 4px solid #777;
    top: -1px;
    border-radius: 50%;
    z-index: 1;
    /* margin: 0px; */
    /* padding: 0px; */
}

.timeline-container3::after {
    content: '\f086';
    font-family: FontAwesome;
    /* align-items: center; */
    line-height: 25px;
    text-align: center;
    align-content: center;
    font-size: 15px;
    color: white;
    position: absolute;
    width: 25px;
    height: 25px;
    right: -15%;
    background-color: darkgray;
    border: 4px solid #777;
    top: -1px;
    border-radius: 50%;
    z-index: 1;
    /* margin: 0px; */
    /* padding: 0px; */
}


/* Place the container to the right */

.right1 {
    left: 15%;
}

.right2 {
    left: 15%;
}

.right3 {
    left: 15%;
}

.title {
    position: absolute;
    width: 100%;
    margin: 6px;
    line-height: 32px;
    font-weight: 300;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    color: white;
    border: 0;
    border-bottom: 1px solid #ffffffab;
}


/* Add arrows to the right container (pointing left) */

.right1::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 8px;
    width: 0;
    /* z-index: 1; */
    left: -1%;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent #ffa000 transparent transparent;
}

.right2::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 8px;
    width: 0;
    /* z-index: 1; */
    left: -1%;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent #4f30ca transparent transparent;
}

.right3::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 8px;
    width: 0;
    /* z-index: 1; */
    left: -1%;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent #31ba53 transparent transparent;
}


/* Fix the circle for containers on the right side */

.right1::after {
    left: -16px;
}

.right2::after {
    left: -16px;
}

.right3::after {
    left: -16px;
}


/* The actual content */

.timeline-content1 {
    margin: 50px 30px;
    position: relative;
    margin-top: 10px;
    top: 0px;
}

.timeline-content2 {
    position: relative;
    top: 0px;
    margin-bottom: 20px;
}


/* Media queries - Responsive timeline on screens less than 600px wide */

@media screen and (max-width: 600px) {
    /* Place the timelime to the left */
    .timeline1::after {
        left: 31px;
    }
    /* Full-width containers */
    .timeline-container1 {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }
    .timeline-container2 {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }
    .timeline-container3 {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }
    .timeline-container4 {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }
    /* Make sure that all arrows are pointing leftwards */
    .timeline-container2::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }
    /* Make sure all circles are at the same spot */
    .right1::after {
        left: 15px;
    }
    .right2::after {
        left: 15px;
    }
    .right3::after {
        left: 15px;
    }
    /* Make all right containers behave like the left ones */
    .right1 {
        left: 0%;
    }
    .right2 {
        left: 0%;
    }
    .right3 {
        left: 0%;
    }
}